/mysite/.idea/dictionaries/tave.xml
/mysite/blog/__pycache__/forms.cpython-35.pyc
/mysite/blog/__pycache__/urls.cpython-35.pyc
/mysite/blog/__pycache__/views.cpython-35.pyc
/mysite/mysite/__pycache__/views.cpython-35.pyc
/mysite/шпора html.txt
