{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <h1 class="post_title">
            <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}">
                <span class="glyphicon glyphicon-pencil">
                    Change
                </span>
            </a>
            <span class="published">published: {{ post.published_date }}</span>
        </h1>

        <p class="text">{{ post.text }} </p>
        <br>
    {% endfor %}
{% endblock content %}